*{
    padding: 0px;
    margin: 0px;
}
.my-project{
    margin: auto;
    text-align: center;
    /* border: 2px solid red; */
    width: 70%;
    height: 400px;
    background-color: rgb(13, 13, 71);
}
h5{
    margin-top: 20px;
}
p{
    padding: 20px;
}